body {
  color: whitesmoke;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
}

#input{
  color: black;
  max-width: 300px;
  text-align: right;
}

table {
  position: relative;
  background: rebeccapurple;
  width: 300px;
  height: 500px;
  padding: 10px;
  margin: auto;
  box-shadow: 0 15px 25px -10px rgba(0, 0, 0, 0.6);
}

button {
  box-sizing: border-box;
  border: none;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 30px;
}

button:hover {
  box-shadow: inset 0 0 5px black;
}

#input {
  background: #DDD;
  font-size: 50px;
  height: 100px;
}